.wrapper{
    position: relative;
    width: 550px;
    background-color: #e8e8e8;
    display: flex;
    margin: 0 auto;
    .Title{
        padding-left: 15px;
        font-size:15pt;
        font-weight: 500;
    }
}